!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %link{href: '/stylesheets/nv.d3.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: '/stylesheets/style.css', rel: 'stylesheet', type: 'text/css'}/

  %body.with-3d-shadow.with-transitions
    %input{type: 'checkbox', name: 'freeze'} freeze
    %input{type: 'radio', name: 'timespan', value: 60} 1min
    %input{type: 'radio', name: 'timespan', value: 300} 5min
    %input{type: 'radio', name: 'timespan', value: 600} 10min
    %input{type: 'radio', name: 'timespan', value: 1800} 30min
    %input{type: 'radio', name: 'timespan', value: 3600} 60min
    %input{type: 'radio', name: 'timespan', value: 0, checked: true} all

    %div
      %svg#chart-proxy
    %div
      %svg#chart-quality

    %script{src: '/javascripts/jquery.min.js'}
    %script{src: '/javascripts/handlebars.js'}
    %script{src: '/javascripts/nvd3/d3.v3.min.js'}
    %script{src: '/javascripts/nvd3/nv.d3.min.js'}
    %script{src: '/javascripts/nvd3/utils.js'}
    %script{src: '/javascripts/nvd3/tooltip.js'}
    %script{src: '/javascripts/nvd3/interactiveLayer.js'}
    %script{src: '/javascripts/nvd3/models/legend.js'}
    %script{src: '/javascripts/nvd3/models/axis.js'}
    %script{src: '/javascripts/nvd3/models/scatter.js'}
    %script{src: '/javascripts/nvd3/models/stackedArea.js'}
    %script{src: '/javascripts/nvd3/models/stackedAreaChart.js'}
    %script{src: '/javascripts/StackedAreaChart.js'}

    :javascript
      var chartProxy = new StackedAreaChart('proxy', 5000);
      var chartQuality = new StackedAreaChart('quality', 5000);

      $('input[name=freeze]:checkbox').change(function () {
        chartProxy.toggleFreeze();
        chartQuality.toggleFreeze();
      });

      $('input[name=timespan]:radio').change(function () {
        chartProxy.setTimespan($(this).val());
        chartQuality.setTimespan($(this).val());
      });
