!!!
%html{'ng-app' => ''}
  %head
    %meta{charset: 'utf-8'}/
    %title Dashboard sublan.tv
    %link{href: '/stylesheets/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: '/stylesheets/nv.d3.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: '/stylesheets/style.css', rel: 'stylesheet', type: 'text/css'}/

  %body.with-3d-shadow.with-transitions
    %div.container
      %div.row
        %div.col-md-12
          %div.btn-group
            %button#freeze-btn{class: 'btn btn-default', 'data-toggle' => 'button'} Freeze Charts
            %div.btn-group
              %button{class: 'btn btn-default dropdown-toggle', 'data-toggle' => 'dropdown'}
                Show data:
                %span#current-timespan all
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{href: '#', onclick: 'setTimespan(60)'} 1min
                %li
                  %a{href: '#', onclick: 'setTimespan(300)'} 5min
                %li
                  %a{href: '#', onclick: 'setTimespan(600)'} 10min
                %li
                  %a{href: '#', onclick: 'setTimespan(1800)'} 30min
                %li
                  %a{href: '#', onclick: 'setTimespan(3600)'} 60min
                %li.divider
                %li
                  %a{href: '#', onclick: 'setTimespan(0)'} all

      %div.row
        %div.col-md-12
          %h3 Connections by Proxy
      %div.row
        %div.col-md-12
          %svg#chart-proxies
      %div.row
        %div.col-md-12
          %h3  Connections by Quality
      %div.row
        %div.col-md-12
          %svg#chart-qualities

      %div{'ng-controller' => 'TextStatsCtrl'}
        :javascript
          poll(5000);

        %ul{class: 'nav nav-tabs'}
          %li.active
            %a{href: '#stats-online', 'data-toggle' => 'tab', 'ng-click' => "setWhat('online')"}
              Online
          %li
            %a{href: '#stats-total', 'data-toggle' => 'tab', 'ng-click' => "setWhat('total')"}
              Total

        %div.tab-content
          %div.col-md-12
            %h3#stats-title Connection Overview ({{what}})
          %div.row
            %div.col-md-3{'ng-repeat' => '(section, element) in stats'}
              %div{class: 'panel panel-default'}
                %div.panel-heading
                  %b {{section}}
                %table{class: 'table table-striped'}
                  %tr{'ng-repeat' => 'data in element'}
                    %td{class: '{{getActiveClass(data.active)}}'}
                      %span{class: 'badge pull-right'} {{data[what]}}
                      {{data.name}}

    %script{src: '/javascripts/jquery.min.js'}
    %script{src: '/javascripts/angular.min.js'}
    %script{src: '/javascripts/bootstrap.min.js'}
    %script{src: '/javascripts/nvd3/d3.v3.min.js'}
    %script{src: '/javascripts/nvd3/nv.d3.min.js'}
    %script{src: '/javascripts/nvd3/utils.js'}
    %script{src: '/javascripts/nvd3/tooltip.js'}
    %script{src: '/javascripts/nvd3/interactiveLayer.js'}
    %script{src: '/javascripts/nvd3/models/legend.js'}
    %script{src: '/javascripts/nvd3/models/axis.js'}
    %script{src: '/javascripts/nvd3/models/scatter.js'}
    %script{src: '/javascripts/nvd3/models/stackedArea.js'}
    %script{src: '/javascripts/nvd3/models/stackedAreaChart.js'}
    %script{src: '/javascripts/StackedAreaChart.js'}
    %script{src: '/javascripts/textStats.js'}

    :javascript

      var chartProxy = new StackedAreaChart('proxies', 5000);
      var chartQuality = new StackedAreaChart('qualities', 5000);

      $('#freeze-btn').click(function () {
        chartProxy.toggleFreeze();
        chartQuality.toggleFreeze();
      });


      function setTimespan(timespan) {
        chartProxy.setTimespan(timespan);
        chartQuality.setTimespan(timespan);

        if (timespan == 0)
          $('#current-timespan').html('all');
        else
          $('#current-timespan').html(timespan / 60 + 'min');
      }
