!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %title Dashboard sublan.tv
    %link{href: '/stylesheets/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: '/stylesheets/nv.d3.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: '/stylesheets/style.css', rel: 'stylesheet', type: 'text/css'}/

  %body.with-3d-shadow.with-transitions
    %input{type: 'checkbox', name: 'freeze'} freeze
    %input{type: 'radio', name: 'timespan', value: 60} 1min
    %input{type: 'radio', name: 'timespan', value: 300} 5min
    %input{type: 'radio', name: 'timespan', value: 600} 10min
    %input{type: 'radio', name: 'timespan', value: 1800} 30min
    %input{type: 'radio', name: 'timespan', value: 3600} 60min
    %input{type: 'radio', name: 'timespan', value: 0, checked: true} all

    %div
      %svg#chart-proxy
    %div
      %svg#chart-quality

    %p
      %div#stats-total
      %div#stats-proxies
      %div#stats-qualities

    %script{src: '/javascripts/jquery.min.js'}
    %script{src: '/javascripts/handlebars.js'}
    %script{src: '/javascripts/bootstrap.min.js'}
    %script{src: '/javascripts/nvd3/d3.v3.min.js'}
    %script{src: '/javascripts/nvd3/nv.d3.min.js'}
    %script{src: '/javascripts/nvd3/utils.js'}
    %script{src: '/javascripts/nvd3/tooltip.js'}
    %script{src: '/javascripts/nvd3/interactiveLayer.js'}
    %script{src: '/javascripts/nvd3/models/legend.js'}
    %script{src: '/javascripts/nvd3/models/axis.js'}
    %script{src: '/javascripts/nvd3/models/scatter.js'}
    %script{src: '/javascripts/nvd3/models/stackedArea.js'}
    %script{src: '/javascripts/nvd3/models/stackedAreaChart.js'}
    %script{src: '/javascripts/StackedAreaChart.js'}

    / Handlebar templates
    %script{id: 'online-stats-header-template', type: 'text/x-handlebars-template'}
      %h4 {{title}}
      %ul {{{list}}}

    %script{id: 'online-stats-li-template', type: 'text/x-handlebars-template'}
      %li
        {{key}}: {{value}}

    :javascript
      // compile handlebar templates
      var onlineStatsHeaderTemplate = Handlebars.compile($('#online-stats-header-template').html());
      var onlineStatsLiTemplate = Handlebars.compile($('#online-stats-li-template').html());

      var chartProxy = new StackedAreaChart('proxy', 5000);
      var chartQuality = new StackedAreaChart('quality', 5000);

      $('input[name=freeze]:checkbox').change(function () {
        chartProxy.toggleFreeze();
        chartQuality.toggleFreeze();
      });

      $('input[name=timespan]:radio').change(function () {
        chartProxy.setTimespan($(this).val());
        chartQuality.setTimespan($(this).val());
      });


      updateTextStats(5000);

      function updateTextStats(interval) {
        $.ajax({
          url: '/api/online',
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            $.each(data, function(key, value) {
              var list = ''
              if (isNaN(value)) {
                $.each(value, function(name, count) {
                  list += onlineStatsLiTemplate({key: name, value: count})
                });
              }
              else {
                list += onlineStatsLiTemplate({key: 'viewers', value: value})
              }

              var html = onlineStatsHeaderTemplate({title: key, list: list})
              $('#stats-' + key).html(html);
            });
          },
          complete: setTimeout(function() { updateTextStats(interval); }, interval),
        });
      }
